$lagoon-blue: #89E5D3;
$lagoon-blue-tint-1: #D5F6F0;
$lagoon-blue-tint-2: #EAFAF7;
$lagoon-blue-tint-3: #C2E4E7;
$lagoon-blue-tint-4: #ABEDE0;

$rainforest-blue: #0096A2;
$rainforest-blue-tint1: #005E66;
$rainforest-blue-tint2: #002F33;
$rainforest-blue-tint3: #184D52;
$rainforest-blue-tint3: #0C4347;

$red1: #FD7575;
$red2: #FFB5B5;

$planet-black: #0C0D0D;
$black: #000000;
$grey1: #181A1B;
$grey2: #3D4243;
$grey3: #7A8485;
$grey4: #BCC2C2;
$grey5: #D7DADB;
$grey6: #E9EAEA;
$light-grey: #FAFAFA;

$white: #FFFFFF;
