$lagoon-blue: #89E5D3;
$lagoon-blue-tint-1: #D5F6F0;
$lagoon-blue-tint-2: #EAFAF7;

$rainforest-blue: #0096A2;
$rainforest-blue-tint1: #005E66;
$rainforest-blue-tint2: #002F33;

$planet-black: #0C0D0D;
$black: #000000;
$grey1: #181A1B;
$grey5: #D7DADB;
$light-grey: #FAFAFA;

$white: #FFFFFF;
