.pages-become_associate {

  .Cta {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    justify-content: center;
    border-radius: 0;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  .Footer {
    padding-bottom: 6rem;

    @media (min-width: $breakpoint-lg) {
      padding-bottom: 2.5rem;
    }
  }

  .Section--first {
    padding-top: 1rem;
  }

  .SecondSection {

    .Base-title--2 {
      margin-bottom: 0;
    }

    .Base-subtitle {
      margin-top: 0;
    }
  }

  .Step {
    max-height: none;
  }

  .Benefits {
    list-style: none;
    padding-left: 0;

    .material-icons {
      margin-right: 1rem;
      color: $rainforest-blue;
    }

    p {
      margin-top: 0;
    }

    li {
      display: flex;
    }
  }

  .BenefitsImage {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-image {
      width: 80%;
      object-fit: contain;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
      display: none;

      @media (min-width: $breakpoint-md) {
        display: block;
      }
    }
  }

  .Indicators {
    display: flex;

    &-item:first-child {
      margin-right: 10vw;
    }

    .Base-title--2 {
      color: $rainforest-blue;
      margin-bottom: 0;
    }

    .Base-text {
      margin-top: 0;
    }
  }

  .Link {
    font-family: $body-font;
    text-transform: none;
    color: $rainforest-blue-tint1;

    &:hover {
      color: $rainforest-blue-tint2;
    }
  }
}
