.pages-become_associate {

  .SecondSection {

    .Base-title--2 {
      margin-bottom: 0;
    }

    .Base-subtitle {
      margin-top: 0;
    }
  }

  .Benefits {
    list-style: none;
    padding-left: 0;

    .material-icons {
      margin-right: 1rem;
      color: $rainforest-blue;
    }

    p {
      margin-top: 0;
    }

    li {
      display: flex;
    }
  }

  .BenefitsImage {
    background-image: image-url("blank-frame-above-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
  }

  .Indicators {
    display: flex;

    &-item:first-child {
      margin-right: 10vw;
    }

    .Base-title--2 {
      color: $rainforest-blue;
      margin-bottom: 0;
    }

    .Base-text {
      margin-top: 0;
    }
  }

  .Link {
    font-family: $body-font;
    text-transform: none;
    color: $rainforest-blue-tint1;

    &:hover {
      color: $rainforest-blue-tint2;
    }
  }
}
