.Base {
  background-color: $lagoon-blue;
  margin: 0;

  &-title1 {
    font-size: 2rem;

    @media (min-width: 750px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1000px) {
      font-size: 3rem;
    }
  }

  &-title2 {
    font-size: 1.75rem;

    @media (min-width:750px) {
      font-size: 2rem;
    }

    @media (min-width: 1000px) {
      font-size: 2.5rem;
    }
  }

  &-title3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    @media (min-width:750px) {
      font-size: 1.75rem;
    }

    @media (min-width: 1000px) {
      font-size: 2rem;
    }
  }

  &-subtitle {
    font-family: $headers-font;
    font-weight: 200;
    font-size: 1.25rem;

    @media (min-width:750px) {
      font-size: 1.5rem;
    }

    @media (min-width: 1000px) {
      font-size: 2rem;
    }
  }

  &-text {
    font-family: $body-font;
    opacity: 0.9;

    &--bigger {
      font-size: 1.2rem;
      font-weight: 200;
    }

    &--withSeparator {
      border-bottom: 3px solid rgba(255, 255, 255, 0.8);
      padding-bottom: 1.5rem;

      @media (min-width: $breakpoint-md) {
        border-bottom: 3px solid $rainforest-blue-tint2;
      }
    }
  }
}
