<% class_name = '' if local_assigns[:class_name].nil? %>

<button class="Button Button--box Button--darkGreenBox <%= class_name %>"
        type="button"
        data-action="associate-form#openForm">
  <%= t('common.become_associate.cta') %> <i class="material-icons">arrow_forward</i>
</button>
