<section class="DownloadBanner <%= yield(:banner_classes) %>">
  <div class="container DownloadBanner-content">
    <div class="DownloadBanner-icon">
      <i class="material-icons">public</i>
    </div>
    <div>
      <span class="DownloadBanner-text">
        <%= t('common.download.headline') %>
      </span>
      <%= link_to t('common.download.link'),
        'https://automate-me.typeform.com/to/ZOmH5m',
        target: '_blank',
        class: 'DownloadBanner-link' %>
    </div>
  </div>
</section>
