<footer class="Section Section--darkGreen Footer">
  <div class="container Footer-container">
    <%= embedded_svg 'logo-time-planet.svg', class: "Footer-logo" %>
    <div>
      <span class="Footer-brand">Time for the Planet</span>
      <p class="Footer-tagline">L'entrepreneuriat au service de l'urgence climatique.</p>
      <a href="https://www.facebook.com/Timefortheplanet/" target="_blank">
        <%= embedded_svg 'facebook.svg', class: "Footer-icon" %>
      </a>
      <a href="https://www.linkedin.com/company/time-for-the-planet/" target="_blank">
        <%= embedded_svg 'linkedin.svg', class: "Footer-icon" %>
      </a>
    </div>
    <a href="/" class="Button Button--underlined Footer-back">Retour <i class="material-icons">arrow_upward</i></a>
  </div>
</footer>
