<nav class="Navbar">
  <div class="container Navbar-container">
    <a href="/" class="Navbar-logoContainer">
      <%= embedded_svg 'logo-time-planet.svg', class: "Navbar-logo" %>
      Time for the Planet
    </a>
    <a href="/#ContactSection" class="Button--underlined">Je m'engage <i class="material-icons">arrow_forward</i></a>
  </div>
</nav>
