<nav class="Navbar <%= yield(:navbar_classes) %>"
     data-controller="navbar"
     data-action="resize@window->navbar#closeMenuOnLargeBreakpoint">
  <div class="container Navbar-container" data-action="scroll@window->navbar#toggleDarkModeOnScroll">
    <a href="/" class="Navbar-logoContainer">
      <%= embedded_svg 'logo-time-planet.svg', class: "Navbar-logo" %>
      Time for the Planet
    </a>
    <div class="Navbar-links">
      <%= link_to 'charte', vision_path, class: 'Button Navbar-link' %>
      <a href="/contact" class="Navbar-cta Button Button--underlined">
        Je m'engage <i class="material-icons">arrow_forward</i>
      </a>
    </div>
    <button class="Navbar-hamburger Nabbar-link hamburger hamburger--squeeze"
            type="button"
            aria-label="Menu"
            aria-controls="navigation"
            data-target="navbar.hamburger"
            data-action="navbar#toggleMenu">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
    <ul class="Navbar-mobileLinks">
      <li>
        <%= link_to 'charte', vision_path, class: 'Button Navbar-link' %>
      </li>
      <li>
        <a href="/contact" class="Navbar-cta Button Button--underlined">
          Je m'engage <i class="material-icons">arrow_forward</i>
        </a>
      </li>
    </ul>
</nav>
