<div class="ContentNavbar"
     data-controller="content-navbar"
     data-action="scroll@window->content-navbar#stickNavbar">
  <div class="container">
    <ul class="ContentNavbar-links">
      <li><%= link_to t('common.become_associate.why'), '#why', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= link_to t('common.become_associate.status'), '#associate-status', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= link_to t('common.become_associate.list'), '#associates', data: { action: 'content-navbar#scroll' } %></li>
      <li><%= render 'shared/associate_cta' %></li>
    </ul>
  </div>
</div>
