<div class="PictureCard">
  <%= image_tag image, class: "PictureCard-image" %>
  <div class="PictureCard-card">
    <h3 class="PictureCard-title"><%= title %></h3>
    <p class="PictureCard-text"><%= text %>
    </p>
  </div>
</div>
