<% content_for :navbar_classes, 'Navbar--darkLinks Navbar--darkLogo' %>
<% content_for :banner_classes, 'DownloadBanner--darkGreen' %>

<div class="Section Section--white Section--first">
  <div class="container">
    <h1 class="Base-title Base-title--1">Mentions légales</h1>
    <p>
      Responsable du site : Time for the Planet, SAS au capital de 10 500€,
      dont le siège social est situé 10 rue Bellecordière, 69002 LYON
    </p>
    <p>
      Immatriculé au registre du commerce de Lyon sous le n° 849 876 339
    </p>
    <p>
      Numéro de TVA intracommunautaire : FR34849876339
    </p>
    <p>
      Contact : nicolas@time-planet.com
    </p>
    <p>
      Directeur de la publication : Nicolas Sabatier
    </p>
    <p>
      Site édité et réalisé par Time for the Planet
    </p>
    <p>
      Hébergé par Heroku, Inc. 650 7th Street San Francisco, CA 94103, USA.
    </p>
  </div>
</div>
