.AssociateForm {
  display: none;

  &--open.Section {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    min-height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    max-height: 100vh;
  }

  &-closeContainer {
    display: flex;
    justify-content: flex-end;
  }

  &-close.Button {
    font-size: 1rem;
    height: 2rem;
  }

  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3.5rem;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .Form-field, .AssociateForm-submit {
        flex: 1;
        max-width: 50%;
      }

      .Form-field:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .Form-field, .AssociateForm-submit {
      flex: 1;
      width: 100%;
    }
  }

  &-submit {
    margin-top: 1.7rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
  }

  &-image {
    width: 30%;
  }
}
