.Button {
  font-size: 0.8rem;
  font-family: $headers-font;
  font-weight: 800;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;

  @media (min-width: $breakpoint-sm) {
    font-size: 1.25rem;
  }

  .material-icons {
    margin-left: 0.5rem;
  }

  &:hover {
    transition: all 0.3s;
    color: $lagoon-blue;
    border-color: $lagoon-blue;
  }

  &--underlined {
    border-bottom: solid $white 3px;
  }

  &--green {
    color: $rainforest-blue-tint1;
  }

  &--greenBox {
    background-color: $lagoon-blue;
    color: $planet-black;
    padding: 1rem 2rem;
    border-radius: 3px;
    border: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $lagoon-blue-tint-4;
      color: $planet-black;
      transition: background-color 0.3s;
    }
  }
}
