.Navbar {
  color: $white;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 1;

  &--notSticky {
    position: relative;
    top: 0;
  }

  &--sticky {
    position: fixed;
    top: 0px;
  }

  &--lightGrey {
    background-color: $light-grey;
  }

  &-mobileLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    display: none;

    .Navbar-link, .Navbar-cta {
      margin-top: 2rem;
      margin-right: 0;
    }
  }

  &--menuOpen {
    height: 100vh;

    .Navbar-mobileLinks {
      display: flex;
    }
  }

  &--darkLogo {

    .Navbar-logoContainer {
      color: $planet-black;
    }
  }

  &--greenLinks {

    .Navbar-link {
      color: $lagoon-blue-tint-3;

      &:hover {
        color: $lagoon-blue;
      }
    }
  }

  &--darkLinks {

    .Navbar-cta {
      border-color: $planet-black;
      color: $planet-black;

      &:hover {
        color: $lagoon-blue;
        border-color: $lagoon-blue;
      }
    }

    .Navbar-link {
      color: $grey2;

      &:hover {
        color: $lagoon-blue;
      }
    }
  }

  &:not(&--darkLinks) {
    .hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner::after, .hamburger-box .hamburger-inner::before  {
      background-color: $grey3;
    }
  }

  &--dark {
    background-color: $black;
    color: $white;

    .Navbar-logoContainer, .Navbar-cta {
      color: $white;
      border-color: $white;
    }

    .Navbar-cta:hover {
      color: $lagoon-blue;
      border-color: $lagoon-blue;
    }

    .Navbar-link {
      color: $grey5;
    }

    .hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner::after, .hamburger-box .hamburger-inner::before  {
      background-color: $grey5;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    @media (min-width: $breakpoint-md) {
      height: 4.5rem;
    }
  }

  &-logoContainer {
    font-size: 1rem;
    text-transform: none;
    font-family: $headers-font;
    font-weight: 200;
    display: flex;
    align-items: center;

    @media (min-width: $breakpoint-md) {
      font-size: 2rem;
    }
  }

  &-logo {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.25rem;

    @media (min-width: $breakpoint-md) {
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  &-links {
    display: none;

    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }

  &-link {
    color: $grey5;
    margin-right: 4rem;

    &:hover {
      color: $white;
    }
  }

  .Navbar-hamburger {
    @media (min-width: $breakpoint-lg) {
      display: none;
    }
  }
}
