@mixin for-size($breakpoint) {
  @media (min-width:$breakpoint) {
    grid-template-rows: 10rem 15rem;
    max-height: none;
    margin-bottom: 2rem;

    .PictureCard {

      &-image {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
      }

      &-card {
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
      }
    }
  }
}

.PictureCard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  margin-bottom: 1rem;
  max-height: 20rem;

  &-image {
    grid-column: 4 / span 4;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-logo {
    visibility: hidden;
    position: absolute;
    right: 2rem;
    top: 3rem;
    width: 4rem;

    @media (min-width: $breakpoint-md) {
      visibility: visible;
    }
  }

  &-content {
    background-color: $grey1;
    color: $white;
    padding: 1.5rem;
    box-sizing: border-box;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;

    &--white {
      background-color: $white;
      color: $planet-black;
    }
  }

  &-title {
    font-family: $headers-font;
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    margin-bottom: 1rem;

    &--downcase {
      text-transform: none;
      font-weight: 400;
    }

    @media (min-width: $breakpoint-md) {
      font-size: 1.25rem;

      &--bigger {
        font-size: 2rem;
      }
    }
  }

  &-text {
    font-family: $body-font;
    font-weight: normal;
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 0;
    text-transform: none;
  }

  &:not(&--lgShift) {
    @include for-size($breakpoint-md);
  }

  &--lgShift {
    @include for-size($breakpoint-lg);
  }

  &--biggerMarginBottom {
    @media (min-width:$breakpoint-lg) {
      margin-bottom: 4rem;
    }
  }
}
