.PictureCard {

  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 3rem;

  &-image {
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
    height: 15rem;
    width: 100%;
    object-fit: cover;

    @media (min-width:$breakpoint-md) {
      grid-column: 1 / span 5;
      grid-row: 1 / span 2;
    }
  }

  &-card {
    background-color: $grey1;
    color: $white;
    padding: 1rem;
    box-sizing: border-box;
    grid-column: 2 / span 5;
    grid-row: 2 / span 2;

    @media (min-width: $breakpoint-md) {
      height: 16rem;
      grid-column: 2 / span 5;
      grid-row: 2 / span 3;
    }
  }

  &-title {
    font-family: $headers-font;
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-md) {
      font-size: 1.25rem;
    }
  }

  &-text {
    font-family: $body-font;
    font-weight: normal;
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 0;
  }
}
