.Section {

  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  &--black {
    background-color: $black;
    color: $white;

    em {
      color: $black;
      background-color: $white;
      font-style: normal;
    }
  }

  &--lagoon {
    background-color: $lagoon-blue;
    color: $planet-black;
  }

  &--lightGrey {
    background-color: $light-grey;
    color: $planet-black;
  }

  &--white {
    background-color: $white;
    color: $planet-black;
  }

  &--lagoonTint2 {
    background-color: $lagoon-blue-tint-2;
    color: $planet-black;
  }

  &--twoColors {
    background-color: $rainforest-blue-tint2;
    color: $white;

    @media (min-width: $breakpoint-md) {
      background: linear-gradient(to right,
        $rainforest-blue-tint2 0%,
        $rainforest-blue-tint2 50%,
        $white 50%,
        $white 100%);
    }
  }

  &-imageBackground {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: block;
    }
    background-size: cover;
  }

  &-text {
    &--twoColorsRight {
      color: $white;
      opacity: 0.9;

      @media (min-width: $breakpoint-md) {
        color: $grey1;
        opacity: 1;
      }
    }
  }

  &-image {
    width: 100%;
    object-fit: cover;
    margin-right: 0;
    display: none;

    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
}
